.blog-list-container .title {
  font-size: 18px;
  margin-right: 6px;
}
.blog-list-container .date {
  font-size: 12px;
  font-style: italic;
}
.blog-list-container .desc {
  font-size: 14px;
  font-style: italic;
  color: #555;
}
