.blog-list-container {
  /* max-width: 600px; */
  /* margin: 20px; */
}
.blog-list-container .title {
  /* font-size: 18px; */
  /* margin-right: 6px; */
}
.blog-list-container .date {
  /* font-size: 12px; */
  font-style: italic;
  display: inline-block;
}
.blog-list-container .desc {
  /* font-size: 14px; */
  font-style: italic;
  color: #555;
}

.blog-post-container {
  /* margin-top: 50px; */
}
.blog-post-container .date {
  text-align: right;
}
.blog-post-content {
  /* padding: 0 20px; */
}
