/* Color Theme Swatches in Hex */
.Retro-Fathers-Day-1-hex {
  color: #62bd96;
}
.Retro-Fathers-Day-2-hex {
  color: #f1e5c0;
}
.Retro-Fathers-Day-3-hex {
  color: #f39342;
}
.Retro-Fathers-Day-4-hex {
  color: #f15839;
}
.Retro-Fathers-Day-5-hex {
  color: #f1543a;
}

/* Color Theme Swatches in RGBA */
.Retro-Fathers-Day-1-rgba {
  color: rgba(98, 188, 149, 1);
}
.Retro-Fathers-Day-2-rgba {
  color: rgba(240, 228, 191, 1);
}
.Retro-Fathers-Day-3-rgba {
  color: rgba(242, 147, 66, 1);
}
.Retro-Fathers-Day-4-rgba {
  color: rgba(240, 87, 56, 1);
}
.Retro-Fathers-Day-5-rgba {
  color: rgba(240, 84, 58, 1);
}

/* Color Theme Swatches in HSLA */
.Retro-Fathers-Day-1-hsla {
  color: hsla(154, 40, 56, 1);
}
.Retro-Fathers-Day-2-hsla {
  color: hsla(45, 63, 84, 1);
}
.Retro-Fathers-Day-3-hsla {
  color: hsla(27, 88, 60, 1);
}
.Retro-Fathers-Day-4-hsla {
  color: hsla(10, 86, 58, 1);
}
.Retro-Fathers-Day-5-hsla {
  color: hsla(8, 86, 58, 1);
}
a {
  color: #f15839;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}
a:hover {
  border-bottom: 2px solid #fdbbbb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Linux Libertine', Baskerville, Georgia, 'Liberation Serif',
    'Kaiti SC', STKaiti, 'AR PL UKai CN', 'AR PL UKai HK', 'AR PL UKai TW',
    'AR PL UKai TW MBE', 'AR PL KaitiM GB', KaiTi, KaiTi_GB2312, 'TW-Kai', serif;
}
body {
  font-family: Georgia, serif;
}
blockquote {
  background-color: #f1e5c0;
  padding: 1rem;
  border-radius: 6px;
}
blockquote::before {
  content: '“';
  display: block;
  height: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #333;
  margin-top: -30px;
  /* line-height: 0.3; */
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  background-color: #333;
  color: #fff;
}

/* module */
.site-header,
.site-footer {
  font-size: 14px;
}
.site-header {
  padding: 20px 0;
}

.logo-link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  transition: transform 0.3s;
}
.logo-link:hover {
  border: none;
  transform: rotate(-4deg);
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #f4d986;
}

.navigator {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navigator > li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  z-index: 2;
}
.navigator li:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -10px;
  bottom: 0;
  left: 4px;
  background-color: #fef0b8;
  z-index: 0;
  transform: rotate(-2deg);
  transition: background-color 0.2s;
}
.navigator a {
  display: block;
  position: relative;
  z-index: 3;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */
.site-footer {
  max-width: 60%;
  margin: 100px auto 0;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 14px;
  color: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  z-index: 0;
  /* line-height: 1; */
}
.site-footer::after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.site-footer .icon {
  margin: 0 5px;
  position: relative;
  top: 3px;
  /* vertical-align: middle; */
  /* margin: -1px 6px; */
  /* line-height: 1; */
}

.welcome {
  max-width: 600px;
}

/* blog */
.content {
  margin: auto;
  max-width: 800px;
  width: 60%;
  line-height: 1.6;
}

.blog-list {
  list-style: none;
}
.blog-list .date {
  display: inline-block;
  margin-left: 1em;
  color: #999;
  font-size: 0.8em;
}
.blog {
  padding-top: 20px;
}
.blog .date {
  text-align: right;
  color: #999;
}
