::selection {
  background-color: rgb(255, 225, 80, 0.5);
}
body {
  font-family: 'Biaodian Pro Serif GB', 'Numeral LF Serif', 'Microsoft Yahei', Georgia,
    'Times New Roman', 'Han Songti GB', serif;
  line-height: 1.7;
}
a {
  text-decoration: underline;
  text-underline-position: under;
  transition: all 0.3s;
}
a:link,
a:visited {
  color: #f05037;
}
a:visited {
  color: #f05037;
}
a:hover {
  text-decoration: underline;
}
.code {
  font-family: Menlo, Consolas, Courier, 'Han Heiti', monospace, monospace,
    sans-serif;
}
.sans-serif {
  font-family: 'Romanization Sans', 'Helvetica Neue', Helvetica, Arial,
    'Han Heiti', sans-serif;
}
em {
  background-color: rgba(255, 240, 80, 0.5);
}
pre,
code {
  color: #62bd96;
}
code {
  padding: 0 .25em;
}
blockquote {
  border-left: 4px solid #f6f6f6;
  padding-left: .25em;
  color: #666;
}
kbd {
  display: inline-block;
  padding: 0.25em 0.5em 0.2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font: 75%/1 monaco, menlo, consolas, 'courier new', courier, monospace;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
  text-transform: capitalize;
  /* 首字母大写 */
  color: #555;
  background-color: #fefefe;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.05)),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.05),
    transparent
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    transparent
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=0);
  -webkit-box-shadow: 0 2px 0 #ccc, 0 3px 1px #999, inset 0 1px 1px #fff;
  box-shadow: 0 2px 0 #ccc, 0 3px 1px #999, inset 0 1px 1px #fff;
}
