::selection {
  background-color: rgb(255, 225, 80, 0.5);
}
body {
  font-family: 'Biaodian Pro Serif GB', 'Numeral LF Serif', 'Microsoft Yahei',
    Georgia, 'Times New Roman', 'Han Songti GB', serif;
  line-height: 1.7;
  background-color: #fff;
}
a {
  text-decoration: underline;
  text-underline-position: under;
  transition: all 0.3s;
}
a:link,
a:visited {
  color: #f05037;
}
a:visited {
  color: #f05037;
}
a:hover {
  text-decoration: underline;
}
.code {
  font-family: Menlo, Consolas, Courier, 'Han Heiti', monospace, monospace,
    sans-serif;
}
.sans-serif {
  font-family: 'Romanization Sans', 'Helvetica Neue', Helvetica, Arial,
    'Han Heiti', sans-serif;
}
/* em {
  background-color: rgba(255, 240, 80, 0.5);
} */
pre {
  font-size: 13px;
  background-color: #0f111a;
  padding: 6px;
  border-radius: 3px;
}
pre,
code {
  color: #62bd96;
}
code {
  padding: 0 0.25em;
}
blockquote {
  /* border-left: 3px solid #ccc; */
  /* padding-left: 0.25em; */
  /* border-radius: 6px; */
  position: relative;
  margin-left: 3em;
}
blockquote::before {
  content: '\201C';
  display: inline-block;
  color: transparent;
  width: 2em;
  height: 2em;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M23.105 55.627c-.005.138-.021.273-.021.413 0 .047.006.092.007.138-.001.092-.007.183-.007.275l.02-.014c.212 6.166 5.265 11.103 11.482 11.103 6.352 0 11.502-5.149 11.502-11.502 0-5.796-4.292-10.577-9.869-11.372 1.386-4.595 5.645-7.938 10.695-7.938v-4.106c-12.893.001-23.373 10.217-23.809 23.003zM52.941 55.627c-.005.138-.021.273-.021.413 0 .047.007.092.007.138-.001.092-.007.183-.007.275l.021-.014c.212 6.166 5.265 11.103 11.481 11.103 6.353 0 11.502-5.149 11.502-11.502 0-5.796-4.292-10.577-9.869-11.372 1.386-4.595 5.645-7.938 10.694-7.938v-4.106c-12.893.001-23.371 10.217-23.808 23.003z"/></svg>')
    no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: -2em;
}
blockquote > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
kbd {
  display: inline-block;
  padding: 0.25em 0.5em 0.2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  font: 75%/1 monaco, menlo, consolas, 'courier new', courier, monospace;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
  text-transform: capitalize;
  /* 首字母大写 */
  color: #555;
  background-color: #fefefe;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.05)),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.05),
    transparent
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    transparent
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000', endColorstr='#00000000', GradientType=0);
  -webkit-box-shadow: 0 2px 0 #ccc, 0 3px 1px #999, inset 0 1px 1px #fff;
  box-shadow: 0 2px 0 #ccc, 0 3px 1px #999, inset 0 1px 1px #fff;
}

hr {
  width: 50%;
  margin: 1em auto;
  padding: 0;
  background-color: none;
  height: 1px;
  border-width: 1px 0 0 0;
  border-color: #ddd;
  border-style: solid;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #000;
  }
  body {
    background-color: #212121;
    color: #ddd;
  }
  .navigator a::after {
    border: none;
  }
  blockquote {
    color: #999;
  }
  blockquote::before {
    display: none;
  }

  .blog-list .archives-li a,
  .blog-list .date2{
    background-color: #212121;
  }

  .blog-list .archives-li::after{
    border-color: #505050;
  }
}
