.site-header,
.site-footer {
  /* font-size: 14px; */
}
.site-header {
  padding: 20px 0;
}
.main {
  min-height: 40vh;
}
.logo-link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  transition: transform 0.3s;
}
.logo-link:hover {
  border: none;
  transform: rotate(-4deg);
}

.logo-link img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f4d986;
}

.avatar {
  max-width: 100%;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #f4d986;
}

.navigator {
  height: 30px;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.navigator > li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  z-index: 2;
}
.navigator a {
  padding: 2px 8px 6px 2px;
  display: inline-block;
  z-index: 3;
  text-decoration: none;
  background-size: 100% 20px;
  background-repeat: repeat-x;
  background-position: left 0 bottom 0;
  background-image: linear-gradient(#fada5c 0%, #fada5c 40%);
  transform: rotate(-4deg);
}
.navigator a:hover {
  color: #ec3a1e;
  text-decoration: none;
}
.navigator a:hover::after {
  border-color: #fada5c;
}

/* footer */
.site-footer {
  max-width: 60%;
  margin: 100px auto 0;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.site-footer .icon {
  margin: 0 5px;
  position: relative;
  top: 3px;
}

.welcome {
  max-width: 600px;
}

/* blog */
.content {
  margin: auto;
  max-width: 800px;
  width: 90%;
  font-size: 18px;
}
.content img {
  max-width: 100%;
}

.blog-list {
  /* list-style: none; */
}
.blog-list a {
  text-decoration: none;
}
.blog-list .date {
  display: inline-block;
  margin-left: 1em;
  color: #999;
  font-size: 90%;
  vertical-align: bottom;
}
.blog {
  /* padding-top: 20px; */
}
.blog .date {
  text-align: right;
  color: #999;
}
.blog-post-content {
  /* font-size: 18px; */
  text-align: justify;
}
.blog-post-content img {
  width: 100%;
  max-width: 100%;
}
.pictures img {
  display: block;
}

.google-map {
  display: none;
  max-width: 800px;
  width: 100%;
  height: 480px;
  margin: auto;
}
.google-map.done {
  display: block;
}

.home {
  text-align: center;
}
.home .slogan {
  background-color: #000;
  color: #fff;
  padding: 2px 6px;
  display: inline-block;
  transform: rotate(-4deg);
}
