.back-to-home {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius:50%;
  text-align: center;
  padding: 8px;
  background-color: #fada5c;
  text-decoration: none;

  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  z-index: 100;
}

.back-to-home:hover {
  text-decoration: none;
  background-color: #F05037;
  color: #fff;
}